* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:root {
  --color-background: #121214;
  --color-green: #04d361;
  --color-red: #ce4a4a;
  --color-orange: #ff7a29;
  --color-yellow: #FFCD1E ;
  --color-purple: #8257e6;

  --color-secondary: #e1e1e6;
  --color-text: #a8a8b3;
  --color-support: #737380;
  --color-shape: #202024;
  --color-shape-hover: #29292e;
  --color-icons: #41414d;
  --color-borders: #323238;
  --color-black: #09090a;
  --color-white: #fff;
  --color-scrollbar: #4d4d57;
  --color-scrollbar-background: transparent;
}